@import "../variables";
@import  "../mixin";

.header{
    display: flex;
    align-items: center;
    padding: 1rem  1rem;
    background-color: $introBg;
    @include breakpoint(medium){
        justify-content: space-between;
        padding: 1rem  3rem;
    }
    &__logo{
        display: flex;
        align-items: center;
        width: 83px;
        @include breakpoint(large){
            width: 7rem;
        }
    }
    &__items{
         display: none;
         @include breakpoint(medium){
             display: flex;
             align-content: center;
         }
         a{
            text-transform: uppercase;
               margin: .5rem 1rem;
               padding-bottom: .5rem;
               &:hover{
                   color: $ctaCyan;
                   border-bottom: 1px solid $ctaCyan;
               }
            }
        
    }
}