@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap");
// Fonts
$font-title: 'Raleway', sans-serif;
$font-body: 'Open Sans', sans-serif;

// Colors
$introBg: #1b2330;
$mainBg: #0d2246;
$footerBg: #0a1423;
$testimonialBg: #20293b;
$ctaCyan: #64e1d9;
$ctaBlue: #329ecc;

// Borders
$border-radius: 10px;
$border-radius-circle: 30px;