@import "./variables";

html,
body {
  font-family: $font-body;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section{
  background-color: $mainBg;
}